@import "tailwindcss";

@theme {
  --text-heading: 23px;
}

button {
  cursor: pointer;

  &:active{
    scale: 95%;
  }
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.link-btn{
  @apply h-12 gap-2 border flex items-center p-2
}